body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 18px;
}

nav a:hover {
    background-color: #555;
    border-color: #fff;
}

nav a.active {
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Outros estilos ... */

/* Estilos para a imagem na seção de formação */
figure img {
    max-width: 200px; /* Defina o tamanho máximo desejado para a imagem */
    display: block; /* Torna a imagem um bloco para centralizá-la */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Estilos para a legenda da imagem */
figcaption {
    text-align: center; /* Centraliza o texto da legenda */
    margin-top: 10px; /* Adiciona espaço entre a imagem e a legenda (opcional) */
}

/* Outros estilos ... */

.caixa-formacao {
    background-color: #edf1f8; /* Cor de fundo preta */
    padding: 20px; /* Espaçamento interno da caixa */
    color: #0a0a0a; /* Cor do texto branco para melhor legibilidade */
}


/* Estilos para o formulário de contato */
.formulario-contato {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-contato label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.formulario-contato input[type="text"],
.formulario-contato input[type="email"],
.formulario-contato textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contato textarea {
    height: 150px;
}

.formulario-contato input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-contato input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Outros estilos ... */